<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: yellow;">
    <h1 style="background-color: yellow;color: red;text-align: center;">
        Congrats bro Enjoy your holiday !! 
    </h1>
    <br>
    <br>
    
    <div class="container" style="text-align: center;background-color: lightblue;">
        <a href="/newentry"><button type="submit">New Entry</button></a>

        
    </div>
    
</body>
</html>